.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    position: relative;
    z-index: 1000;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .profile-icon {
    position: relative;
    cursor: pointer;
    color: white;
  }
  
  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
  }


  .user-name {
    display: inline-block;
    padding: 0px 15px 5px 5px; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid;
    border-left: hidden !important;
    border-color: #f1f1f1;
    margin-right: 0px !important;
    position: relative;
    top: -10px; /* Adjust this value based on the profile icon's position */
  }
  
  .profile-icon .dropdown-menu {
    display: block;
  }
